html, body {
    bottom: 0;
    height: 100%;
}

.nav-custom {
    font-size: 1.5em;
    padding: 0 0 .25rem 1rem;
}
/* Announcments */
#announcement {
    position: absolute;
    right: 1rem;
    top: 4rem;
    width: 20%;
    background: hsl(60, 100%, 63%);
    padding: 5px;
}
/* Title bar with name */
.space {
    background-image: url("/resources/PIA23127_hires_sm.jpg");
    background-attachment: fixed;
    display: inline-block;
    background-color: black;
}
.space h1 {
    color: white;
    margin: 0;
    padding: 2rem;
    font-size: 5em;
    font-weight: bolder;
}
.blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; // for Safari 4.0 - 8.0
    animation: 2s linear infinite condemned_blink_effect;
  }
  @-webkit-keyframes condemned_blink_effect { // for Safari 4.0 - 8.0
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  @keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

/* Subtitles */
h2 {
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* Card grid setup */
.collapse-d-row {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 2fr 1fr;
    margin-top: 2em;
}
.card-column {
    display: flex;
    flex-direction: column;
}
.card-column > * + * {
    margin-top: 2.5rem;
}
.collapse-d-row h3 {
    margin: 0 0 -.5rem 0;
}

/* Card Stylings */
.card-column div.info-card  {
    position: relative;
    box-shadow: 1px;
    background: linear-gradient(339deg, rgb(5, 28, 46) 0%, rgb(92, 28, 28) 100%);

    color: white;
    padding: 1rem;
    border-radius: 8px;
    -webkit-box-shadow: -2px 2px 9px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 9px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 9px -3px rgba(0,0,0,0.75);
}
    .card-column ul {
        list-style: none;
        padding: 0;
        font-weight: bolder;
    }
    .card-column ul li::before {
        content: "> "
    }
    .card-column div h4 {
        margin: 0 0 .3rem 0;
        font-weight: bold;
        font-size: 3em;
    }
    .card-column div.info-card img {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        width: 5rem;
        height: 5rem;
    }
/* About Styling */
.info-column div {
    padding: 1.5rem;
}
    .info-column div.info-card p {
        margin: 0 2rem;
    }
.project-column div {
    padding: 1rem;
}
/* Project Styling */
.project-column div a {
    color: black;
    background: white;
    text-decoration: none;
    border-radius: 1000rem;
    padding: .75rem;
    float: right;
}
.project-column div a:hover {
    background: #E0E0E0;
}
/* Note stylizing */
.sidenote img {
    display: block;
    position: relative;
    height: 12rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
}
.sidenote {
    font-weight: bolder;
    border-radius: 8px;
    border: 1px dashed;
}
/* Footer */
footer {
    background: rgb(102, 102, 102);
    color: white;
    padding: 1rem;
}
footer a {
    color: rgb(176, 225, 255);
}
footer a:hover {
    color: white;
    text-decoration: none;
}
footer .right {
    float: right;
}

@media screen and (max-width: 992px) {
    #announcement {
        position: relative;
        width: 70%;
        right: 0;
        top: 1rem;
        margin-left: 1rem;
    }

    .collapse-d-row {
        display: block;
    }
    .info-column div h4 {
        margin-bottom: 1.2rem;
    }
    .info-column div img {
        top: .5rem;
        right: 2rem;
    }
    footer .right {
        float: none;
    }
    footer .right::before {
        content: " ~ ";
    }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) 
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) { ... } */