html {
    bottom: 0;
    height: 100%;
}
.space {
    background-image: url("/resources/PIA23127_hires_sm.jpg");
    background-attachment: fixed;
    display: inline-block;
    background-color: black;
}
.space h1 {
    color: white;
    margin: 0;
    padding: 2rem;
    font-size: 5em;
    font-weight: bolder;
}

h2 {
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

body {
    height: 100%;
}
.stretch {
    bottom: 0;
    height: 100%;
}

.blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; // for Safari 4.0 - 8.0
    animation: 2s linear infinite condemned_blink_effect;
  }
  @-webkit-keyframes condemned_blink_effect { // for Safari 4.0 - 8.0
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  @keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  .nav-custom {
      font-size: 1.5em;
      padding: 0 0 .25rem 1rem;
  }